### Topics: Lists, Tuples, Dictionaries and Sets

#### 1. Access `raghav` in the following list.

In [3]:
mylist = [1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]
mylist

[1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]

#### 2.  Sort the elements of the list in an ascending order and append [7, 8] and [9, 10] to the list.

In [12]:
mylist = [4, 3, 1, 5, 2, 6]
mylist

[4, 3, 1, 5, 2, 6]

#### 3. Create a tuple with a single element. Try this in two ways.

#### 4. Access `raghav` associated with all the keys from the following dictionary

In [20]:
mydict = {'k1' : 'raghav', 'k2' : [1, 'raghav'], 'k3' : (1.5, True, ['python', 'raghav']), 'k4' : [(1, 2, 3), (4, 5), ('python', 'raghav')], 'k5' : {'k6' : {'k7' : [1, 2.45, 'raghav', True]}}}

In [21]:
mydict

{'k1': 'raghav',
 'k2': [1, 'raghav'],
 'k3': (1.5, True, ['python', 'raghav']),
 'k4': [(1, 2, 3), (4, 5), ('python', 'raghav')],
 'k5': {'k6': {'k7': [1, 2.45, 'raghav', True]}}}

#### 5. Create a dictionary with keys `a` &  `b`  and correspoding values `1` and `2`. Update a new set of key and value pair `c` & `3` in two different ways. Then, remove the last key value pair updated.

#### 6. Create two sets `s1` with elements `1, 2, 3, 4` & `s2` with elements `3, 4, 5, 6` and demonstate the following methods:

    1. difference_update
    2. intersection_update
    3. symmetric_difference
    4. symmetric_difference_update
    5. update
    6. discard
    7. remove